.custom-navbar {
    background-color: #333; /* Cambia este color por el que prefieras */
    color: #fff; /* Cambia este color por el que prefieras */
}
.custom-navbar .nav-link {
    color: #fff; /* Cambia este color por el que prefieras */
}
.custom-navbar .nav-link:hover {
    color: #ddd; /* Cambia este color por el que prefieras */
}
.navbar-brand{
    color: white;
}
h3{
    text-align: center;
}